h1 {
    font-size: 12vh;
    margin-bottom: 10px;
}

h3 {
    font-size: 4vh;
    margin-bottom: 10px;
}

div {
    display: block;
}

br {
    display: block;
    content: "";
    margin-top: 5px;
}

.body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
}

.body * {
    box-sizing: border-box;
}

.side-by-side {
    flex: 1;
    width: 50%;
}

.side-by-side-img {
    background-image: url("https://cdn.wallpaperhub.app/cloudcache/6/8/0/5/2/7/6805273c1c8e8bf69fbb5765338f752238d14518.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-by-side-txt {
    padding-left: 50px;
    padding-right: 50px;
}

.side-by-side-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.badges {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 1000;
}

.link {
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.082);
    background-clip: text;
    background-image: linear-gradient(to right, #00A4E8, #0081D8);
}